<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Details</title>
		<script src="{{ asset("js/jquery-3.4.1.min.js") }}"></script>
		<script src="{{ asset("js/popper.min.js") }}"></script>
		<script src="{{ asset("js/bootstrap.min.js") }}"></script>
		<link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">
	</head>
	<body>
		<h1>Details</h1>
		<a href="{{ path("webpro_department_new") }}">New</a>
		<a href="{{ path("webpro_department_edit/"+ENTITY.getId()) }}">Editar</a>
		<table>
			<tr><th>Name</th><td>{{ENTITY.getName()}}</td></tr>
		</table>
		<a href="{{ path("webpro_department_find_all") }}">List</a>	</body>
</html>